<!DOCTYPE html>
<html>
    <head>
        <title> PREVENTION</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='prevention.css')}}">
    </head>
    <body>
        <h1> These are the preventions must be followed to protect overselves from coronavirus:</h1>
        Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local public health agency.
<p><strong><u>To prevent the spread of COVID-19:</u></strong></p>
<ul>
    <li> Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
</ul>
<ul>
    <li>Maintain a safe distance from anyone who is coughing or sneezing. </li>
</ul>
<ul>
    <li> Don’t touch your eyes, nose or mouth.</li>
</ul>
<ul>
    <li> Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
</ul>
 <ul>
     <li>Stay home if you feel unwell.</li>
 </ul>

 <ul>
     <li> If you have a fever, cough and difficulty breathing, seek medical attention. Call in advance.</li>
 </ul>

<ul>
    <li>Follow the directions of your local health authority. </li>
</ul>
<h3>
Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</h3>
    </body>
</html>